<launch>
  <arg name="rate" default="3" />
  <group ns="zed">
    <node type="nodelet" pkg="nodelet" name="zed_nodelet_manager" args="manager" output="screen"  respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="zed_proc_debayer"
          args="load image_proc/debayer zed_nodelet_manager" output="screen"  respawn="true">
    </node>
    <node pkg="nodelet" type="nodelet" name="image_throttle"
          args="load mbzirc_task2_perception/image_throttle zed_nodelet_manager" output="log"  respawn="true">
      <remap from="/zed/topic_in"  to="/zed/left/image_rect_color"/>
      <remap from="/zed/topic_out" to="/zed/left/image_rect_color_throttle"/>
      <param name="update_rate" value="$(arg rate)" />
    </node>
  </group>

  <group ns="depth">
    <node type="nodelet" pkg="nodelet" name="depth_nodelet_manager" args="manager" output="screen"  respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="depth_proc_debayer"
          args="load image_proc/debayer depth_nodelet_manager" output="screen"  respawn="true">
    </node>
    <node pkg="nodelet" type="nodelet" name="image_throttle"
          args="load mbzirc_task2_perception/image_throttle depth_nodelet_manager" output="log"  respawn="true">
      <remap from="/depth/topic_in"  to="/zed/depth/depth_registered"/>
      <remap from="/depth/topic_out" to="/zed/depth/depth_registered_throttle"/>
      <param name="update_rate" value="$(arg rate)" />
    </node>
  </group>

  <group ns="handeye">
    <node type="nodelet" pkg="nodelet" name="handeye_nodelet_manager" args="manager" output="screen"  respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="handeye_proc_debayer"
          args="load image_proc/debayer handeye_nodelet_manager" output="screen"  respawn="true">
    </node>
    <node pkg="nodelet" type="nodelet" name="image_throttle"
          args="load mbzirc_task2_perception/image_throttle handeye_nodelet_manager" output="log"  respawn="true">
      <remap from="/handeye/topic_in"  to="/handeye/image_color"/>
      <remap from="/handeye/topic_out" to="/handeye/image_color_throttle"/>
      <param name="update_rate" value="$(arg rate)" />
    </node>
  </group>
</launch>
